$colorBG: #575dbf;
$colorViolett: #575dbf;
$colorWrapper: #fefefe;
$colorWrapperHidden: #121727;
@import url("https://fonts.googleapis.com/css?family=PT+Mono");

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #101522;
}

.profile {
  margin: 85px 0;
  font-family: "Montserrat", "sans-serif";
  background: #101522;
  h1 {
    text-align: center;
    padding: 30px 0;
    color: #fff;
  }
}

.content {
  text-align: left;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 20px;
  padding-bottom: 25px;
  #user-name {
    text-transform: capitalize;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
    font-weight: 600;
  }
  .meeting-id-div {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
  }
  .left {
    .pic {
      position: relative;
      font-family: "Lato", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
      padding: 40px 0;
      border-radius: 14px;
      letter-spacing: normal;
      font-size: 350%;
      line-height: 20px;
      @media screen and (max-width: 660px) {
        width: 80%;
      }
      @media screen and (max-width: 300px) {
        padding: 16px 0;
      }
      &:hover {
        background: #000000;
        opacity: 0.4;
        cursor: pointer;
      }
      &:hover:before {
        position: absolute;
        top: 45%;
        left: 38%;
        font-size: 40px;
        content: "âœ";
        border-radius: 30px;
        transform: rotate(30deg);
        color: #0060ebd9;
        background: inherit;
        @media screen and (max-width: 400px) {
          left: 32%;
          font-size: 30px;
        }
      }
    }
  }
  .middle {
    text-align: center;
  }
  .right {
    text-align: right;
  }
}

.pass {
  letter-spacing: 8px;
  font-weight: 700;
}

.delete-btn {
  &:hover {
    transition: all 0.4s ease;
    color: #d50000 !important;
    border: 3px solid #b8000091;
    background: #0c0f1b;
    font-weight: 700;
    box-shadow: 0 2px 4px rgb(184, 0, 0);
  }
}
/* make a grid */
.wrapper-profile {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.wrapper-profile > * {
  background: #242424;
  box-shadow: 0 4px 8px rgba(56, 125, 255, 20%);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  margin-bottom: 10px;
  @media screen and (max-width: 500px) {
    font-size: 80%;
  }
  @media screen and (max-width: 385px) {
    font-size: 60%;
  }
}

.header,
.footer {
  grid-column: 1 / -1;
  clear: both;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper-profile > * {
    width: auto;
    margin: 0;
  }
}

.edit {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  > a {
    color: #0060ebd9;
    text-decoration: none;
    height: 0;
    &:hover {
      cursor: pointer;
      color: #4995cb;
    }
  }
}

.wrapper {
  padding: 2% 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  width: 125%;
  border-radius: 10px;
  transition: all 0.3s;
  background: $colorWrapperHidden;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  &.is-hidden {
    #meeting-id {
      letter-spacing: 4px;
      transition-delay: 0s;
    }
    .IconLock {
      fill: $colorWrapper;
      transition-delay: 0s;
    }
    .eye-wrapper {
      &::before {
        transform: scale(1) translateZ(0);
      }
      circle {
        opacity: 0;
        transition-delay: 0s;
        background-color: #fff;
      }
      .eye-lash {
        transform: scaleY(1) translateY(-0px);
      }
    }
  }
}
.IconLock {
  position: relative;
  z-index: 1;
  width: 27px;
  height: 27px;
  transition-delay: 0.2s;
}
#meeting-id {
  width: 90%;
  font-size: 75%;
  // width: 45%;
  // font-size: 85%;
  color: $colorViolett;
  border: none;
  background: transparent;
  position: relative;
  // z-index: 1;
  z-index: 0;
  letter-spacing: 2px;
  font-family: "PT Mono", monospace;
  transition-delay: 0.1s;
}
.eye-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
  circle {
    opacity: 1;
    transition: all 0s;
    transform: translateY(-18px);
    transition-delay: 0.1s;
  }
  .eye-lash {
    transform: scaleY(-1) translateY(-6px);
    transition: all 0.3s;
  }
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 18%;
    height: 3.3vw;
    background: white;
    border-radius: 25px;
    transition: all 0.4s ease;
    transform: scale(18) translateZ(0);
    z-index: 0;
  }
}
.eye {
  fill: $colorViolett;
  width: 50px;
  height: 50px;
  position: relative;
  transform: translateY(12px);
  @media screen and (max-width: 530px) {
    fill: #575dbf;
    width: 19px;
    height: 46px;
    position: relative;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    position: absolute;
    top: -12px;
  }
}

* {
  outline: none;
  --webkit-highlight: transparent;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 880px) {
  .eye-wrapper::before {
    height: 3.3vw;
  }
}

@media screen and (max-width: 880px) {
  .eye-wrapper::before {
    height: 5.3vw;
  }
  #meeting-id {
    font-size: 11px;
  }
}
@media screen and (max-width: 840px) {
  #meeting-id {
    font-size: 10px;
  }
}
@media screen and (max-width: 800px) {
  #meeting-id {
    font-size: 9px;
  }
}
@media screen and (max-width: 750px) {
  #meeting-id {
    font-size: 9px;
  }
  .wrapper {
    width: 135%;
  }
}
@media screen and (max-width: 750px) {
  #meeting-id {
    font-size: 8px;
  }
  .wrapper {
    width: 140%;
  }
}
@media screen and (max-width: 640px) {
  #meeting-id {
    font-size: 8px;
  }
  .wrapper {
    width: 150%;
  }
}
@media screen and (max-width: 640px) {
  #meeting-id {
    font-size: 6px;
  }
  .wrapper {
    width: 160%;
  }
}
@media screen and (max-width: 485px) {
  #meeting-id {
    font-size: 5px;
  }
  .wrapper {
    width: 170%;
  }
}
@media screen and (max-width: 445px) {
  .wrapper {
    width: 180%;
  }
}
@media screen and (max-width: 415px) {
  #meeting-id {
    font-size: 4px;
  }
  .wrapper {
    width: 200%;
  }
  .middle-pass {
    letter-spacing: 4px;
    font-size: 60%;
  }
}
@media screen and (max-width: 390px) {
  #meeting-id {
    font-size: 4px;
  }
  .wrapper {
    width: 250%;
  }
}
@media screen and (max-width: 290px) {
  #meeting-id {
    font-size: 3px;
  }
  .wrapper {
    width: 230%;
  }
}

///////////////////////////////////////////////////////////////////alert
.swal2-container.swal2-center > {
  .swal2-popup {
    background-color: #000000;
  }
}
.swal2-title,
.swal2-html-container {
  color: #ffffffa8;
}
