.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #1977d2 !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #bfbfbfb3 !important;
}
.contact-container {
  overflow: hidden;
}
.contact {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    color: #f5f3f3b3 !important;
  }
  label {
    color: #bfbfbfb3 !important;
  }

  .overlay {
    width: 101vw;
    height: 21.5em;
    margin: -96px;
    padding: 10px;
    max-width: 1300px !important;
  }
  .message-wrapper {
    position: relative;
    margin: 5px 50px 50px 10px;
  }
  #message {
    position: absolute;
    top: 100px;
    left: 52%;
    transform: translatex(-50%);
    display: block;
    min-width: 85%;
    min-height: 200px;
    // max-height: 10000%;
    padding: 5px;
    resize: none;
    overflow: auto;
  }

  .inbox {
    position: absolute;
    top: 285px;
    left: 55%;
    transform: translatex(-190px);
    width: 175px;
  }
  #counter {
    position: relative;
    top: 15px;
    left: 50%;
    transform: translatex(-65px);
    width: 128px;
    background-color: #0a0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 14px;
    border-radius: 2px;
  }
  .characters-used {
    position: absolute;
    top: 15px;
    left: 151px;
    width: 178px;
    padding: 6px 15px 6px 15px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
  }
  /* Select colors*/
  .css-qc6sy-singleValue {
    color: #fff;
  }
  .css-1s2u09g-control {
    background: #242424;
  }
  .css-1gtu0rj-indicatorContainer:hover {
    background: #242424;
  }
  .css-1pahdxg-control {
    background: #242424;
  }
  .css-4ljt47-MenuList {
    background: #242424;
  }
  .css-1n7v3ny-option {
    background: #242424;
    &:hover {
      background: #333333;
    }
  }
  .css-yt9ioa-option {
    background: #242424;
    &:hover {
      background: #333333;
    }
  }
  .css-yt9ioa-option {
    background: #242424;
    &:hover {
      background: #333333;
    }
  }
  .css-1d8n9bt {
    background: #333333;
  }
}

@media screen and (max-width: 770px) {
  #message {
    left: 53% !important;
  }
}
@media screen and (max-width: 550px) {
  #message {
    left: 54% !important;
  }
  .overlay {
    height: 20em !important;
  }
}

@media screen and (max-width: 550px) {
  #counter {
    left: 66% !important;
    width: 100px !important;
    padding: 3.3px 14px !important;
    font-size: 16px !important;
  }
  .characters-used {
    left: 175px;
    width: 100px;
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  #message {
    left: 56% !important;
  }
  #counter {
    left: 100% !important;
    width: 70px !important;
    padding: 11px 14px !important;
    font-size: 12px !important;
  }
  .characters-used {
    left: 180px !important;
    width: 90px !important;
    font-size: 10px !important  ;
  }
  .name-field,
  .email-field {
    width: 250px !important;
  }
}

@media screen and (max-width: 350px) {
  #message {
    left: 59% !important;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    width: 160px !important;
  }
  .name-field,
  .email-field {
    width: 200px !important;
  }
  .fields {
    margin: 5px 0px 0 40px !important;
  }
  #counter {
    left: 106% !important;
    width: 70px !important;
    padding: 11px 14px !important;
    font-size: 12px !important;
  }
  .characters-used {
    left: 190px !important;
    width: 90px !important;
    font-size: 10px !important  ;
  }
  .select-subject {
    // position: absolute !important;
    width: 200px !important;
    margin-left: -10px;
  }
}

@media screen and (max-width: 320px) {
  .select-subject {
    // position: absolute !important;
    width: 200px !important;
    margin-left: -15px;
  }
}
